<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="https://github.com/OhGyeongtaek/restaurant" class="portfolio-box">
                    <img src="img/portfolio/1.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                2015
                            </div>
                            <div class="project-name">
                                Restaurant
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://github.com/OhGyeongtaek/RentCar" class="portfolio-box">
                    <img src="img/portfolio/2.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                2014
                            </div>
                            <div class="project-name">
                                Rent Car
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://github.com/OhGyeongtaek/Wedding" class="portfolio-box">
                    <img src="img/portfolio/3.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                2014
                            </div>
                            <div class="project-name">
                                Wedding
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://github.com/OhGyeongtaek/Hanbok" class="portfolio-box">
                    <img src="img/portfolio/4.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                2015
                            </div>
                            <div class="project-name">
                                Hanbok
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://github.com/OhGyeongtaek/Cafe" class="portfolio-box">
                    <img src="img/portfolio/5.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                2015
                            </div>
                            <div class="project-name">
                                Cafe
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://github.com/OhGyeongtaek/Cafe" class="portfolio-box">
                    <img src="img/portfolio/6.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                2015
                            </div>
                            <div class="project-name">
                                Furniture
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
